.page {
  width: 20rem;
  width: clamp(20rem, 18rem + 10vw, 27rem);
  margin: auto;
  padding: 0 0.3125rem;
  padding: 0 clamp(0.3125rem, -0.3125rem + 3.125vw, 2.5rem);
}

.box-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.box {
  width: 142px;
  height: 144px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px 0;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius:6px;
}
.b-1 {
  background-color: #028bb7;
}
.b-2 {
  background-color: #29a37e;
}
.b-3 {
  background-color: #ffa234;
}
